<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tagger.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tagger.Properties.Settings>
            <setting name="TagHotkey_Modifiers" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TagHotkey_Keys" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="Tag_Text" serializeAs="String">
                <value>Describe Me</value>
            </setting>
            <setting name="Tag_Color" serializeAs="String">
                <value>OliveDrab</value>
            </setting>
            <setting name="Tag_FontFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="Tag_FontSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Tag_FontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Tag_OffsetTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tag_OffsetRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingsHotkey_Modifiers" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SettingsHotkey_Keys" serializeAs="String">
                <value>47</value>
            </setting>
        </Tagger.Properties.Settings>
        <Tagger.Wpf.Properties.Settings>
            <setting name="Hotkey_Modifiers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hotkey_Keys" serializeAs="String">
                <value>0</value>
            </setting>
        </Tagger.Wpf.Properties.Settings>
    </userSettings>
</configuration>